/* body {
    background-color: #302E2B;
}

#root {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
}

.squareRow {
    display: flex;
}

.square {
    width: 100px;
    height: 100px;
}

.white {
    background-color: #E9EDCC;
}

.black {
    background-color: #779954;
}

.highlightYellow {
    background-color: #F7F769;
}

.piece{
    width: 100%;
}

.highlight{
    width: 35px;
    display: block;
    height: 35px;
    margin: auto;
    margin-top: 35px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.17);
}

.captureColor {
    background-color: #EE4B2B;
} */

body {
  background-color: #302e2b;
}

#root {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
}

.squareRow {
  display: flex;
}

.square {
  width: 100px;
  height: 100px;
}

.white {
  background-color: #eeeed2;
}

.black {
  background-color: #769656;
}

.highlightYellow {
  background: #f7f769;
}

.piece {
  width: 100%;
  cursor: pointer;
}

.captureColor {
  background-color: #ee4b2b;
}

.highlight {
  width: 35px;
  display: block;
  height: 35px;
  margin: auto;
  margin-top: 35px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.17);
}
