body {
    background-color: #302E2B;
}

#root {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
}

.squareRow {
    display: flex;
}

.square {
    width: 110px;
    height: 110px;
}

.white {
    background-color: #E9EDCC;
}

.black {
    background-color: #779954;
}